/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(185, 178, 179);
    color: rgb(0, 0, 0);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: rgb(0, 54, 0);
    color:rgb(248, 247, 180);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

header p {
    font-size: 1.2em;
}

section {
    padding: 10px 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

.project {
    margin-bottom: 40px;
}

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}